.content {
    width: 100vw;
    /* height: 100vh; */
    overflow-y: hidden;
    overflow-x: hidden;
    /* scroll-snap-type: y proximity;
    scroll-behavior: smooth; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* --------------------- */
/* ----- SECTION 1 ----- */
/* --------------------- */

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    overflow: hidden;

    scroll-snap-align: start;
    scroll-snap-stop: normal;
}
.imageContainer {
    position: relative;
    height: 40%;
    width: min(30rem, 70%);
    margin: 0 auto;
    order: 2;
    margin-bottom: 5rem;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
}

.image {
    filter: grayscale(1);
    transition: filter var(--theme-transition) ease-in-out, transform 0.5s ease-in-out;
    object-fit: cover;
    object-position: 42% 50%;

    user-drag: none;
    -webkit-user-drag: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    opacity: var(--image-overlay-opacity);
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;

    transition: opacity var(--theme-transition) ease-in-out, background-color var(--theme-transition) ease-in-out;
}
.imageContainer:hover .image {
    filter: grayscale(0);
}
.imageContainer:hover .imageOverlay {
    opacity: 0;
}

.imageContainer:hover .imageWrapper {
    opacity: 1;
}
.imageContainer:hover .imageWrapper .image {
    /* opacity: 1; */
    transform: scale(1.1);
}

.imageIcon {
    position: absolute;
    z-index: 20;
    fill: var(--accent-color);
    transition: fill var(--theme-transition) ease-in-out, transform 2s ease-out;
}

.imageIcon.top {
    top: -1.5rem;
    right: -1.5rem;
    width: 3rem;
    height: 3rem;
}
.imageIcon.bottom {
    bottom: -2.5rem;
    left: -2.5rem;
    width: 5rem;
    height: 5rem;
}

.titleHello {
    font-family: var(--main-font);
    color: var(--accent-color);
    font-size: 3rem;
    order: 1;
    transition: color var(--theme-transition) ease-in-out;
    align-self: flex-start;
    margin-left: 3rem;
    margin-bottom: -10%;
    z-index: 10;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.titleName {
    font-family: var(--main-font);
    color: var(--accent-color);
    font-size: 6rem;
    transition: color var(--theme-transition) ease-in-out;
    z-index: 10;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.titleSub {
    font-family: var(--secondary-font);
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: color var(--theme-transition) ease-in-out;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.titleSub span {
    width: 1rem;
    transform: translateY(2px);
    display: inline-block;
}
.titleSub span svg {
    fill: var(--accent-color);
    transition: fill var(--theme-transition) ease-in-out;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 3;
}

.scrollDown {
    width: 100vw;
    order: 4;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 3rem 3rem 3rem 3rem;
    flex-grow: 1;
}

.scrollDown > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.scrollDown p {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: bold;
    pointer-events: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.scrollDownIcon {
    width: 1rem;
    animation: arrowBounce 2s linear infinite;
    fill: var(--accent-color);
    pointer-events: none;
}

@media only screen and (min-width: 600px) {
    .titleName {
        font-size: 12rem;
        font-size: 8rem;
    }
    .titleHello {
        margin-left: 10rem;
        font-size: 4rem;
    }

    .scrollDown {
        padding: 5rem 3rem 3rem 3rem;
    }
}

@media only screen and (min-width: 1000px) {
    .section1 {
        padding: 0 4rem;
    }

    .section1 {
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }
    .imageContainer {
        order: 3;
        flex-grow: 1;
        flex-basis: 0;
    }

    .imageWrapper {
        width: 10rem;
    }

    .titleHello {
        order: 1;
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 10rem 0;
        font-size: 5rem;
    }
    .titleHello p {
        margin-right: -2rem;
    }
    .titleName {
        font-size: 12rem;
    }
    .titleSub {
        font-size: 2rem;
    }
    .titleSub span {
        width: 1.5rem;
    }

    .titleWrapper {
        order: 2;
        width: 50%;
    }

    .scrollDown {
        bottom: 0;
        position: absolute;
        width: 100%;
        padding: 6rem 3rem 3rem 3rem;
    }
}

@media only screen and (min-width: 1250px) {
    .titleName {
        font-size: 15rem;
    }
    .titleSub {
        font-size: 3rem;
    }
    .titleSub span {
        width: 2rem;
    }
    .titleWrapper {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) {
    .titleWrapper {
        width: 50%;
    }
}

@keyframes arrowBounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
