.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 150;
    pointer-events: none;
}

.menu.show {
    pointer-events: all;
}

.menuBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    background-color: var(--accent-color);
    pointer-events: none;
    transition: transform 1.5s ease-in-out, opacity 1s ease-in-out,
        background-color calc(var(--theme-transition) / 10) ease-in-out;

    box-shadow: 0 0 5px 10px var(--accent-color);
}

.menu.show .menuBackground {
    transition: transform 2s ease-in-out, opacity 0.1s ease-in-out,
        background-color calc(var(--theme-transition) / 10) ease-in-out;
    transform: scale(80);
    opacity: 1;
    pointer-events: all;
}

.menuContent {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(0%) translateY(-25%) scale(0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
    pointer-events: none;
}

.menuContent ul {
    width: 90%;
}

.menuContent li {
    text-transform: capitalize;
    cursor: pointer;
    display: block;
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 2rem;
    padding: 3rem 0;
    border-bottom: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    user-select: none;

    transform: rotateX(0deg);
}

.menuContent li:last-of-type {
    border-bottom: none;
}

.menuContent li > span > svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(0.09rem);
    fill: var(--main-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menuContent li:hover > span > svg {
    opacity: 1;
}

.menuContent li > * {
    pointer-events: none;
}

.menu.show .menuContent {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0) scale(1);
    transition: opacity 1s 0.5s ease-in-out, transform 1s ease-in-out;
}

.menuIcon {
    cursor: pointer;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 10;
    padding: 0rem 0 2rem 2rem;
    user-select: none;
}

.menu.show .menuIcon {
    opacity: 1;
}

.menuIcon > span {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;

    background-color: var(--main-color);
    border-radius: 50%;
    transition: transform var(--theme-transition) ease-in-out, background-color var(--theme-transition) ease-in-out;
}

.menuIcon > p {
    font-family: var(--main-font);
    color: var(--main-color);
    transform: translateX(-1rem);
    opacity: 0;
    transition: transform var(--theme-transition) ease-in-out, opacity var(--theme-transition) ease-in-out,
        color var(--theme-transition) ease-in-out;
}

[data-device='desktop'] .menuIcon:hover > p,
[data-device='mobile'] .menuIcon > p {
    transform: translateX(-2rem);
    opacity: 1;
}

[data-device='desktop'] .menuIcon:hover > span,
[data-device='mobile'] .menuIcon > span {
    transform: scale(1.25) translateX(0.5rem);
}

@media only screen and (min-width: 600px) {
    .menuContent li {
        font-size: 4rem;
    }
    .menuContent li > span > svg {
        width: 2.5rem;
        height: 2.5rem;
        /* transform: translateY(0.1rem); */
    }
}

@media only screen and (min-width: 1000px) {
    .menuContent li {
        font-size: 5rem;
        padding: 4rem 0;
        justify-content: start;
    }
    .menuContent li > span > svg {
        width: 3rem;
        height: 3rem;
        /* transform: translateY(0.1rem); */
    }
}

@media only screen and (min-width: 1500px) {
    .menuContent li {
        font-size: 6rem;
    }
    .menuContent li > span > svg {
        width: 3rem;
        height: 3rem;
        /* transform: translateY(0.1rem); */
    }
}
