.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.115rem solid var(--accent-color);
    padding: 0 1rem;

    transition: border-color var(--theme-transition) ease-in-out;

    overflow: hidden;
}

.nav .logo {
    width: 2rem;
    height: 2rem;
    fill: var(--accent-color);

    transition: fill var(--theme-transition) ease-in-out;
    cursor: pointer;
}

.nav .name {
    flex-grow: 1;
    color: var(--accent-color);
    font-size: 2.5rem;
    text-align: center;

    font-family: ITCBenguiat, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    transition: color var(--theme-transition) ease-in-out;
}

.nav .menuIcon {
    cursor: pointer;
}

.menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.menuIcon > span {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;

    background-color: var(--accent-color);
    border-radius: 50%;
    transition: transform var(--theme-transition) ease-in-out, background-color var(--theme-transition) ease-in-out;
}

.menuIcon > p {
    font-family: var(--main-font);
    transform: translateX(-1rem);
    opacity: 0;
    transition: transform var(--theme-transition) ease-in-out, opacity var(--theme-transition) ease-in-out,
        color var(--theme-transition) ease-in-out;
    color: var(--accent-color);
}

[data-device='desktop'] .menuIcon:hover > p,
[data-device='mobile'] .menuIcon > p {
    transform: translateX(-2rem);
    opacity: 1;
}

[data-device='desktop'] .menuIcon:hover > span,
[data-device='mobile'] .menuIcon > span {
    transform: scale(1.25) translateX(0.5rem);
}

@media (min-width: 600px) {
    .nav .name {
        text-align: left;
    }
}
