.section2 {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    width: 100vw;
    height: 100vh;
    background: var(--accent-color);
    /* background-image: url('../../public/images/background_light.png'); */
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: background-color var(--theme-transition) ease-in-out;
    z-index: 100;
}
.section2.dark {
    /* background-image: url('../../public/images/background_dark.png'); */
}

.spotlightWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.section2Overlay {
    position: absolute;
    top: -50;
    left: -50;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    pointer-events: none;
    background: var(--main-color);
    mask-image: radial-gradient(
        circle farthest-side at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) var(--spotlight-size),
        rgba(0, 0, 0, 1) var(--spotlight-size2),
        rgba(0, 0, 0, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: background var(--theme-transition) ease-in-out;
}

.hide {
    opacity: 0;
}

.techImage {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    pointer-events: none;
}
.techImage:hover {
    background-color: red;
}

.spotLight {
}

.toggleSpotlight {
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 50;
}

.titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity var(--theme-transition) ease-in-out;
    opacity: 1;
    padding: 10rem 3rem;
    pointer-events: none;
}
.titleContainer.hide {
    opacity: 0;
    pointer-events: none;
    /* display: none; */
}
.titleContainer .title {
    font-family: var(--main-font);
    font-size: 3rem;
    color: var(--accent-color);
    text-align: center;
    transition: color var(--theme-transition) ease-in-out;
    pointer-events: none;
    user-select: none;
    /* padding: 5rem; */
}

.titleContainer .subTitle {
    font-size: 1rem;
    color: var(--accent-color);
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.spotlightText {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
    transition: color var(--theme-transition) ease-in-out, opacity var(--theme-transition) ease-in-out;
}
.spotlightText p {
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 2rem;
    width: max-content;
    text-transform: capitalize;
    user-select: none;
}

.spotlightText.hide p {
    color: var(--main-color);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 2rem;
}

.toolsItem {
    width: 20%;
    min-width: 20%;
    flex: 0.1;

    user-drag: none;
    -webkit-user-drag: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: transform 0.3s ease;
}
.toolsItem:hover {
    transform: scale(1.1);
}
.toolsItem > * {
    pointer-events: none;
}

.toolsItem:nth-child(1n + 1):nth-child(9n + 1) {
    width: 25%;
    min-width: 25%;
}

.toolsItem .imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .spotlightText {
        --spotlight-text-position: 12%;
    }
}
@media only screen and (min-width: 1100px) {
    .spotlightText {
        --spotlight-text-position: 13%;
    }
}
@media only screen and (min-width: 1200px) {
    .spotlightText {
        --spotlight-text-position: 15%;
    }
    .titleContainer .title {
        font-size: 5rem;
    }
    .titleContainer .subTitle {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1444px) {
    .spotlightText {
        --spotlight-text-position: 20%;
    }
    .titleContainer .title {
        font-size: 7rem;
    }
}
